<!DOCTYPE html>
<html lang="en">
<body>

<div th:fragment="posts">
  <div class="container align-content-center col-xxl-3 col-xl-5 col-lg-5 col-md-6" th:each="post, iter : ${posts}">
    <div class="card mb-2 ">

      <div class="card-body">
        <div class="d-flex align-items-start mb-3">

          <div class="bd-highlight me-1">
            <h6 class="card-title" th:text="${post.getUser().firstName + ' ' +post.getUser().lastName}"></h6>
          </div>

          <div class="bd-highlight">
            <p class="card-subtitle text-muted" th:text="${'@' + post.getUser().username}"></p>
          </div>

          <div class="bd-highlight">
            <p class="card-subtitle text-muted">
              <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-dot" viewBox="0 0 16 16">
                <path d="M8 9.5a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3z"/>
              </svg>
            </p>
          </div>

          <div class="bd-highlight">
            <p class="card-subtitle text-muted" th:text="${#dates.format(post.getDate(), 'd MMM yyyy HH:mm')}"></p>
          </div>

          <div th:if="${post.getUser().getId() == principalUser.getId()}" class="ms-auto bd-highlight">
            <form th:action="@{'/api/post/delete/{post_id}' (post_id=${post.getId()})}" method="post">
              <button type="submit" class="btn-close"></button>
            </form>
          </div>
        </div>

        <p class="card-text" th:text="${post.getText()}"></p>
        <div class="text-center" th:if="${post.getFilename() != null}">
          <img th:src="${'/img/' + post.getFilename()}" class="card-img rounded"/>
        </div>

        <div class="d-flex align-items-end mt-3" >

          <div class="bd-highlight me-2">
            <form th:if="${isPrincipalLikedPostList.get(iter.index) == false}" th:action="@{'/api/like/add/' + ${post.getId()}}" method="post">
              <button type="submit" class="btn btn-outline-danger rounded-pill" th:text="${'Like (' + post.getLikes().size() + ')'}"></button>
            </form>

            <form th:if="${isPrincipalLikedPostList.get(iter.index) == true}" th:action="@{'/api/like/delete/' + ${post.getId()}}" method="post">
              <button type="submit" class="btn btn-danger rounded-pill" th:text="${'Dislike (' + post.getLikes().size() + ')'}"></button>
            </form>
          </div>



          <div class="bd-highlight">
            <form th:action="@{'/post/' + ${post.getId()}}" method="get">
              <button  type="submit" class="btn btn-outline-secondary rounded-pill" th:text="${'Comments (' + post.getComments().size() + ')'}"></button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div th:fragment="post">
  <!-- Comment Modal -->
  <div  class="modal fade" id="addCommentModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="addCommentModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="addCommentLabel">Add new comment</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form th:action="@{'/api/comment/add/' + ${post.getId()}}" method="post">
            <div class="mb-3">
              <label for="comment-text" class="col-form-label">Text:</label>
              <textarea class="form-control" id="comment-text" th:name="comment"></textarea>
            </div>
            <div class="text-end">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              <button type="submit" class="btn btn-primary">Add comment</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>


  <div class="container align-content-center col-xxl-3 col-xl-5 col-lg-5 col-md-6">
    <div class="card mb-2 ">

      <div class="card-body">
        <div class="d-flex align-items-start mb-3">

          <div class="bd-highlight me-1">
            <h6 class="card-title" th:text="${post.getUser().firstName + ' ' +post.getUser().lastName}"></h6>
          </div>

          <div class="bd-highlight">
            <p class="card-subtitle text-muted" th:text="${'@' + post.getUser().username}"></p>
          </div>

          <div class="bd-highlight">
            <p class="card-subtitle text-muted">
              <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-dot" viewBox="0 0 16 16">
                <path d="M8 9.5a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3z"/>
              </svg>
            </p>
          </div>

          <div class="bd-highlight">
            <p class="card-subtitle text-muted" th:text="${#dates.format(post.getDate(), 'd MMM yyyy HH:mm')}"></p>
          </div>

          <div th:if="${post.getUser().getId() == principalUser.getId()}" class="ms-auto bd-highlight">
            <form th:action="@{'/api/post/delete/{post_id}' (post_id=${post.getId()})}" method="post">
              <button type="submit" class="btn-close"></button>
            </form>
          </div>
        </div>

        <p class="card-text" th:text="${post.getText()}"></p>
        <div class="text-center" th:if="${post.getFilename() != null}">
          <img th:src="${'/img/' + post.getFilename()}" class="card-img rounded"/>
        </div>

        <div class="d-flex align-items-end mt-3" >

          <div class="bd-highlight me-2">
            <form th:if="${isPostLikedByPrincipal == false}" th:action="@{'/api/like/add/' + ${post.getId()}}" method="post">
              <button type="submit" class="btn btn-outline-danger rounded-pill" th:text="${'Like (' + post.getLikes().size() + ')'}"></button>
            </form>

            <form th:if="${isPostLikedByPrincipal == true}" th:action="@{'/api/like/delete/' + ${post.getId()}}" method="post">
              <button type="submit" class="btn btn-danger rounded-pill" th:text="${'Dislike (' + post.getLikes().size() + ')'}"></button>
            </form>
          </div>

          <div class="bd-highlight me-2">
            <button  type="button" class="btn btn-secondary rounded-pill disabled" th:text="${'Comments (' + post.getComments().size() + ')'}"></button>
          </div>

          <div class="bd-highlight">
            <!-- Button trigger to comment modal -->
            <button type="button" class="btn btn-primary rounded-pill" data-bs-toggle="modal" data-bs-target="#addCommentModal" >
              Add comment
            </button>
          </div>
        </div>

        <div class="mt-3 ms-2 border-bottom" th:each="comment : ${post.getComments()}">

          <!-- Reply Modal -->
          <div  class="modal fade" id="addReplyModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="addReplyModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="addReplyLabel">Reply to a comment</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  <form th:action="@{'/api/reply/add/' + ${post.getId()} + '/' + ${comment.getId()}}" method="post">
                    <div class="mb-3">
                      <label for="reply-text" class="col-form-label">Text:</label>
                      <textarea class="form-control" id="reply-text" th:name="reply"></textarea>
                    </div>
                    <div class="text-end">
                      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                      <button type="submit" class="btn btn-primary">Add reply</button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>

          <div class="d-flex align-items-start ">

            <div class="bd-highlight me-1">
              <h6 class="card-title" th:text="${comment.getUser().firstName + ' ' +comment.getUser().lastName}"></h6>
            </div>

            <div class="bd-highlight">
              <p class="card-subtitle text-muted" th:text="${'@' + comment.getUser().username}"></p>
            </div>

            <div class="bd-highlight">
              <p class="card-subtitle text-muted">
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-dot" viewBox="0 0 16 16">
                  <path d="M8 9.5a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3z"/>
                </svg>
              </p>
            </div>

            <div class="bd-highlight">
              <p class="card-subtitle text-muted" th:text="${#dates.format(comment.getDate(), 'd MMM yyyy HH:mm')}"></p>
            </div>

            <div th:if="${comment.getUser().getId() == principalUser.getId()}" class="ms-auto bd-highlight">
              <form th:action="@{'/api/comment/delete/{post_id}/{comment_id}' (post_id=${post.getId()}, comment_id=${comment.getId()})}" method="post">
                <button type="submit" class="btn-close"></button>
              </form>
            </div>
          </div>

          <p class="card-text mb-1 ms-3 " th:text="${comment.getText()}"></p>

              <!-- Button trigger to reply modal -->
              <button type="button" class="btn btn-link" data-bs-toggle="modal" data-bs-target="#addReplyModal" >
                Reply
              </button>



          <div class="ms-5 mt-1" th:each="reply : ${comment.getReplies()}">
            <div class="d-flex align-items-start ">

              <div class="bd-highlight me-1">
                <h6 class="card-title" th:text="${reply.getUser().firstName + ' ' + reply.getUser().lastName}"></h6>
              </div>

              <div class="bd-highlight">
                <p class="card-subtitle text-muted" th:text="${'@' + reply.getUser().username}"></p>
              </div>

              <div class="bd-highlight">
                <p class="card-subtitle text-muted">
                  <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-dot" viewBox="0 0 16 16">
                    <path d="M8 9.5a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3z"/>
                  </svg>
                </p>
              </div>

              <div class="bd-highlight">
                <p class="card-subtitle text-muted" th:text="${#dates.format(reply.getDate(), 'd MMM yyyy HH:mm')}"></p>
              </div>

              <div th:if="${reply.getUser().getId() == principalUser.getId()}" class="ms-auto bd-highlight">
                <form th:action="@{'/api/reply/delete/{post_id}/{reply_id}' (post_id=${post.getId()}, reply_id=${reply.getId()})}" method="post">
                  <button type="submit" class="btn-close"></button>
                </form>
              </div>
            </div>

            <p class="card-text mb-3 ms-3 " th:text="${reply.getText()}"></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</body>
</html>