<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <div th:replace="fragments/header_fragment :: header"></div>
</head>
<body>

    <div th:replace="fragments/navbar_fragment :: navbar"></div>

    <!-- Modal -->
    <div class="modal fade" id="updateUserModal" tabindex="-1" aria-labelledby="updateUserModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <form th:action="@{/api/user/update}" method="post">
                    <div class="modal-header">
                        <h5 class="modal-title" id="updateUserModalLabel">Edit form</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="form-group mb-4">
                            <label class="mb-2" for="firstNameToUpdate">First name</label>
                            <input type="text" class="form-control" id="firstNameToUpdate" placeholder="First name" th:value="${principalUser.getFirstName()}" th:name="firstNameToUpdate"
                                   required minlength="2" maxlength="20">
                        </div>
                        <div class="form-group mb-3">
                            <label class="mb-2" for="lastNameToUpdate">Last name</label>
                            <input type="text" class="form-control" id="lastNameToUpdate" placeholder="Last name" th:value="${principalUser.getLastName()}" th:name="lastNameToUpdate"
                                   required minlength="2" maxlength="20">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary">Save changes</button>
                    </div>
                </form>
            </div>
        </div>
    </div>


    <div class="container align-content-center col-xxl-4 col-xl-4 col-lg-4 col-md-4" style="min-width: 510px">
        <div class="card">
            <div class="card-header text-center bg-light" >

                <h1 class="card-title" th:text="${user.getFirstName() + '  ' + user.getLastName()}"></h1>
                <h3 class="card-subtitle mb-3" th:text="${'@' + user.getUsername()}"></h3>

                <div class="card-subtitle mb-4">
                    <!-- Button trigger modal -->
                    <button th:if="${principalUser.getId() == user.getId()}"
                            type="button" class="btn btn-outline-primary rounded-pill"
                            data-bs-toggle="modal" data-bs-target="#updateUserModal">
                        Edit
                    </button>

                </div>

                <div class="btn-group mb-3">
                    <form th:action="@{'/profile/' + ${user.getUsername()}}" method="get">
                        <button type="submit" class="btn btn-primary active me-4">Posts</button>
                    </form>
                    <form th:action="@{'/profile/' + ${user.getUsername()} + '/media'}" method="get">
                        <button type="submit" class="btn btn-primary me-4">Media</button>
                    </form>
                    <form th:action="@{'/profile/' + ${user.getUsername()} + '/likes'}" method="get">
                        <button type="submit" class="btn btn-primary">Likes</button>
                    </form>
                </div>
            </div>
            <div class="card-body">
                <div th:replace="fragments/post_fragments :: posts(class='container align-content-center col-xxl-9 col-xl-9 col-lg-9 col-md-9', redirect='profile/' + ${user.getUsername()})"></div>
            </div>
        </div>
    </div>

    <div th:insert="fragments/footer_fragment :: footer"></div>
</body>
</html>